NEXT_PUBLIC_SUPABASE_URL=https://svqqpftgmlofxizpurcv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN2cXFwZnRnbWxvZnhpenB1cmN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4MTQ3NjAsImV4cCI6MjA5ODM5MDc2MH0.VoXxFqkGOna0zAItlwsZVfZToPKKAnoADhx4TsX15Zc
OPENAI_API_KEY=sk-your-openai-key
